/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Container do slide */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Estilo das imagens do slide */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Tornando a imagem ativa visível */
.slide.active {
    opacity: 1;
}

/* Sobreposição de conteúdo (texto e botão) */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.overlay button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.6);  /* Escurecendo o botão com fundo semi-transparente */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.overlay button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    
}

/* Sobreposição de escurecimento no fundo */
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Adicionando camada preta semi-transparente */
    z-index: 1;  /* Colocando acima da imagem, mas abaixo do conteúdo */
}
