body {
    font-family: Arial, sans-serif;
    background-image: url(../img/logo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    overflow-x: auto;
}

.container img {
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 4px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #dcdcdc; /* Borda mais clara para simular as bordas finas do Excel */
}

th,
td {
    padding: 10px; /* Maior espaçamento para melhorar a legibilidade */
    text-align: left;
    vertical-align: middle; /* Alinha o texto verticalmente */
}

th {
    background-color: #f4f4f4; /* Cor mais suave para cabeçalhos */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f7f5f5; /* Adiciona um fundo alternado para as linhas, como no Excel */
}

tr:hover {
    background-color: #d0d4d6; /* Destaque ao passar o mouse, similar ao comportamento do Excel */
}

td {
    font-size: 14px; /* Tamanho de fonte mais adequado para tabelas, semelhante ao Excel */
    color: #333; /* Texto mais escuro para contraste */
}

.button {
    background-color: #0F745A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #001C6B;
}

.print-button {
    display: block;
    margin: 20px auto;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: #0F745A;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #001C6B;
}